aiocache==0.11.1
amqp==5.1.0
anyio==3.4.0
appdirs==1.4.4
asgiref==3.4.1
Authlib==1.0.0
bcrypt==3.2.2
bdateutil==0.1
beautifulsoup4==4.10.0
billiard==3.6.4.0
boto3==1.20.20
botocore==1.23.20
bs4==0.0.1
cachetools==5.0.0
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
convertdate==2.3.2
cryptography==36.0.2
cssselect==1.1.0
docopt==0.6.2
fake-useragent==0.1.11
fastapi==0.70.0
feedparser==6.0.8
google-auth==2.6.3
greenlet==1.1.2
h11==0.12.0
hijri-converter==2.2.2
holidays==0.11.3.1
httpcore==0.14.7
httpx==0.22.0
idna==3.3
importlib-metadata==4.8.2
itsdangerous==2.1.1
jmespath==0.10.0
joblib==1.1.0
kombu==5.2.4
korean-lunar-calendar==0.2.1
lxml==4.6.4
motor==3.0.0
msal==1.17.0
msgpack==1.0.3
mysql-connector-python==8.0.28
numpy==1.21.4
oauthlib==3.2.0
pandas==1.3.4
parse==1.19.0
passlib==1.7.4
pipreqs==0.4.11
prompt-toolkit==3.0.28
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.8.2
pyee==8.2.2
PyJWT==2.4.0
PyMeeus==0.5.11
pymongo==4.1.1
PyMySQL==1.0.2
pyppeteer==0.2.6
pyquery==1.4.3
python-dateutil==2.8.2
python-dotenv==0.20.0
python-multipart==0.0.5
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-html==0.10.0
rfc3986==1.5.0
rsa==4.8
s3transfer==0.5.0
scikit-learn==1.0.1
scipy==1.7.2
sgmllib3k==1.0.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
sns==0.1
soupsieve==2.3.1
SQLAlchemy==1.4.31
starlette==0.16.0
threadpoolctl==3.0.0
tqdm==4.62.3
typing_extensions==4.0.1
ujson==5.3.0
urllib3==1.26.7
uvicorn==0.15.0
vine==5.0.0
w3lib==1.22.0
wcwidth==0.2.5
websockets==9.1
yahoo-fin==0.8.9.1
yahoofinancials==1.6
yarg==0.1.9
zipp==3.6.0
